{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],

  "tailwindFunctions": ["clsx"],

  "importOrder": ["^([$]app/)|([./$]types)", "^[$]lib/(.*)", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
